p { font-size:1.2em; }
pre, pre code { font-family: 'Monaco', monospace; }
pre { border: 1px solid #ccc; background-color: #eee; border: 1px solid #888; padding: 1em; overflow:auto;}
.synComment    { color: #0000FF }
.synConstant   { color: #FF00FF }
.synIdentifier { color: #008B8B }
.synStatement  { color: #A52A2A ; font-weight: bold }
.synPreProc    { color: #A020F0 }
.synType       { color: #2E8B57 ; font-weight: bold }
.synSpecial    { color: #6A5ACD }
.synUnderlined { color: #000000 ; text-decoration: underline }
.synError      { color: #FFFFFF ; background: #FF0000 none }
.synTodo       { color: #0000FF ; background: #FFFF00 none }
ul li.dir {  list-style-image: url('http://yusukebe.github.com/Giita/static/folder.png'); }
ul li.file {  list-style-image: url('http://yusukebe.github.com/Giita/static/document.png'); }
ul li.dir, ul li.file { font-size:1.2em; }
h1, h2, h3, h4, h5 { font-weight: bold; }
